html, body{
	position: relative;
	height: 100%;
	background-color: #eee;
}
h1 {
	text-align: center;
}
div#h1 {
	background-color: #eee;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
	line-height: 55px;
	font-size: 2em;
	z-index: 10;
}
div#input{
	position: fixed;
	height: calc(100% - 110px);
	padding-top: 70px;
	width: 40%;
	z-index: 8;
}
#ta{
	height: 100%;
	padding-right: 75px;
}
textarea{
	width: 100%;
	height: 100%;
	padding:10px;
	resize: none;
}
div#gn{
	position: absolute;
	right: 0px;
	top: 70px;
	height: calc(100% - 70px);
	padding: 3px;
	width: 40px;
	cursor: pointer;
}
.center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
div#gn:hover{
	border-radius: 7px;
	background: rgb(221, 221, 221);
}
div#gn:hover i{
	color: rgb(0, 112, 255);
}
#output{
	word-wrap: break-word; 
	word-break: normal;
	position: relative;
	/*overflow: hidden;*/
	border: solid 1px rgb(131, 131, 131);
	top: 70px;
	left: 41%;
	max-width: 400px;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	z-index: 2;
}
div.clear{
	clear: both;
}
article img{
	display: block;
	max-width: 90%;
	margin: auto;
}
blockquote{
	background: #DFDFDF;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	border-radius: 7px;
}
blockquote p{
	margin: 0px;
}
blockquote p::before{
	content: "\201C";
	color: #bbb;
	font-size: 2em;
	position: relative;
	top: 3px;
	left: -5px;
}
code{
	background: #fdf6e3;
}
#tip{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	background: rgb(112, 112, 112);
	border-radius: 7px;
	font-size: 2em;
	text-align: center;
	visibility:hidden;
	opacity:0;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	z-index: 11;
}
/*#output::after{*/
    /*content: "";*/
	/*text-align: center;*/
	/*font-size: 5em;*/
    /*display: inline;*/
    /*position: relative;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
    /*opacity : 0.1;*/
	/*[>transform: rotate(-60deg);<]*/
/*}*/
#sy{
	text-align: center;
	font-size: 5em;
	display: inline;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#control{
	position: fixed;
	overflow: hidden;
	background: white;
	border: solid 1px rgb(131, 131, 131);
	top: 80px;
	right: 20px;
	width: 250px;
	min-height: 300px;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	z-index: 1;
}
#control input[type=checkbox]{
	border-radius: 5px;
}
#control input[type=text]{
	width: 150px;
	border-radius: 5px;
	border: 1px solid gray;
}
#control input[type=range]{
	width: 150px;
}
span#width{
	font-size: 0.7em;
	color: gray;
}
*:focus:not([type=range]){
	box-shadow: 0px 0px 15px gray;
}
footer{
	position: relative;
	top: 70px;
	text-align: center;
	color: grey;
	font-size: 0.8em;
	clear: both;
	z-index: -1;
}
a{
	text-decoration: none;
}
